<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @pessoa.sexo %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @pessoa.logradouro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @pessoa.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @pessoa.complemento %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @pessoa.cep %>
</p>

<p>
  <strong>Telefone1:</strong>
  <%= @pessoa.telefone1 %>
</p>

<p>
  <strong>Telefone2:</strong>
  <%= @pessoa.telefone2 %>
</p>

<p>
  <strong>Cpf cnpj:</strong>
  <%= @pessoa.cpf_cnpj %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @pessoa.rg %>
</p>

<p>
  <strong>Datanasc:</strong>
  <%= @pessoa.datanasc %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
